{
  "port":3000,
  "host":"localhost",
  "ws_host": "http://localhost:3000/",
  "name":"IturramaSat",
  "socketTimeout":5000,
  "receiver" :"/arduino_receiver.js",
  "tty": "/dev/ttyUSB0",
  "charts": {
    "0": {
      "name": "Presure",
      "sname": "pre",
      "unit": "mbar",
      "start_value": 0
    },

    "1": {
      "name": "Temperature",
      "sname": "temp",
      "unit": "ºC",
      "start_value": 0
    },

    "2": {
      "name": "Altitude",
      "sname": "alt",
      "unit": "meters",
      "start_value": 0
    },

    "3": {
      "name": "Vertical speed",
      "sname": "vvel",
      "unit": "m/s",
      "start_value": 0
    }
  },

  "inverseMap": {
    "pre":0,
    "temp":1,
    "alt":2,
    "vvel":3
  },

  "monitored_values":[
    "pre", "temp", "alt", "vvel", "gpslat", "gpslong", "volt"
  ],
  "random_mode_values":{
    "pre" :{
      "min": 0,
      "max": 760,
      "accuracy": 0
    },
    "temp": {
      "min": 0,
      "max": 35,
      "accuracy": 2
    },
    "alt": {
      "min": 500,
      "max": 1000,
      "accuracy": 0
    },
    "gpslat": {
      "min": 41,
      "max": 42,
      "accuracy": 6
    },
    "gpslong": {
      "min": -1,
      "max": 0,
      "accuracy": 6
    },
    "volt": {
      "min": 3.5,
      "max":4.2,
      "accuracy": 3
    }
  }

}
