html * {
  font-family: Roboto;
}

.summary-data-label{
  text-decoration: underline;
}

.summary-data {

}

.small-data {
  font-size: 8px;
}

.btn-margin {
  margin: 1em;
}

.chart {
  height: 120px;
  width: 100%;
}
