html * {
  font-family: Roboto;
}

.btn-margin {
  margin-top: 1em;
}

.btn-spacer {
  display: inline-block;
  width: 1em;
}

.inline {
  display:inline-block;
}

#viewer{
  width:100%;
}

#image-downloader {
  display: none;
}
